.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.reservation__title-box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.form__input {
  max-width: 385px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  background-color: #2f80ed;
  border-radius: 4px;
  height: 60px;
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.3s ease-in-out;
}

.form__checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 120px;
}

.form__checkbox {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  border-radius: 2px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
